{
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "useTabs": false
}