name: CI

on:
    push:
        branches:
            - main
    pull_request:

permissions:
    actions: read
    contents: read

jobs:
    lint-test-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --immutable

            - name: Set up environment
              run: cp .env.sample .env

            - name: Start PostgreSQL
              run: docker compose up -d --wait

            - name: Lint
              run: yarn lint

            - name: Test
              run: yarn all:test

            - name: Build
              run: yarn all:build

            - name: Stop PostgreSQL
              if: always()
              run: docker compose down -v

    e2e:
        runs-on: ubuntu-latest
        needs: lint-test-build

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --immutable

            - name: Set up environment
              run: cp .env.sample .env

            - name: Start PostgreSQL
              run: docker compose up -d --wait

            - name: Run e2e tests
              run: yarn e2e api-e2e --skip-nx-cache

            - name: Stop PostgreSQL
              if: always()
              run: docker compose down -v
